<main class="main">
    <section class="main__filter">
        <form class="form js-form">
            <label class="form__label" for="filter">Elige tu cóctel:</label>
            <input class="form__input js_inputCoctail" type="text" id="filter"
                placeholder="Escribe aquí el nombre de tu cóctel" />
        </form>
        <div class="divbtns">
            <button class="divbtns__search js_btnSearch">Buscar</button>
            <button class="divbtns__reset js_btnReset">Reset</button>
        </div>
    </section>
    <section class="main__section">
        <article>
            <h2 class="list_title">Lista</h2>
            <div class="main__section--coctails">
                <ul class="generalcoctails__list js_listCoctails"></ul>
            </div>
        </article>
        <article>
            <h2 class="fav_title">Cócteles favoritos</h2>
            <div class="favoritecoctails">
                <ul class="favoritecoctails__list js_listFavoriteCoctails"></ul>
            </div>
            <button class="favoritecoctails__btn js-button_reset_fav">Elimina los favoritos</button>
        </article>
    </section>
</main>