<main>
    <div class="filter">
        <form class="js-form">
            <label class="filter__label" for="filter">Elige tu cóctel:</label>
            <input class="filter__input js_inputCoctail" type="text" id="filter"
                placeholder="Escribe aquí el nombre de tu cóctel" />
            <button class="search__btn js_btnSearch">Buscar</button>
            <button class="reset__btn js_btnReset">Reset</button>
        </form>
    </div>
    <div class="coctails">
        <ul class="coctail__list js_listCoctails"></ul>
    </div>
</main>