.footer {
  height: 4vh;
  width: 100vw;
  background-color: $backgrouncolor;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet() {
    position: absolute;
    bottom: 0;
  }
  &__title {
    font-size: 15px;
    color: $darkcolor;
  }
  &__github {
    color: $darkcolor;
  }
}
