.footer {
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  background-color: $backgrouncolor;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    color: $darkcolor;
  }
}
