.footer {
  height: 10vh;
  width: 100vw;
  background-color: $backgrouncolor;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet() {
    position: absolute;
    bottom: 0;
  }
  @include desktop() {
    height: 5vh;
  }
  &__title {
    color: $darkcolor;
  }
}
