.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15%;
  background-color: $backgrouncolor;

  &__img {
    position: absolute;
    left: 0;
    height: inherit;
  }
  &__title {
    font-size: 25px;
    text-align: right;
    width: 200px;
    text-transform: uppercase;
    font-family: $fontfamily2;
    background: $darkcolor;
    background: -webkit-linear-gradient(
      to right,

      #cb9797,
      #aa7474,
      #845a5b,
      #6d4b4b,
      #553b3b
    );
    background: linear-gradient(
      to right,

      #cb9797,
      #aa7474,
      #845a5b,
      #6d4b4b,
      #553b3b
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    @include tablet() {
      width: fit-content;
      font-size: 40px;
    }
  }
}
