.main__section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.imgcoctail {
  width: 300px;
}

.list-coctail {
  &-favorite {
    color: white;
    background-color: black;
  }
}
