.main {
  font-family: $fontfamily2;
  height: 72vh;
  &__section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    color: $darkcolor;
    &--coctails {
      padding: 10px 0;
      border: 2px solid $backgrouncolor;
      width: 11rem;
      height: 22rem;
      display: flex;
      justify-content: center;
      overflow-y: scroll;
      @include tablet() {
        width: 23rem;
        height: 26rem;
      }
      @include desktop() {
        width: 37rem;
        height: 21rem;
      }
    }
  }
  @include tablet() {
    height: 70vh;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__label {
    font-size: 21px;
    padding: 10px 0;
    color: $darkcolor;
    @include tablet() {
      font-size: 38px;
    }
  }
  &__input {
    height: 30px;
    width: 230px;
    text-align: center;
    border: 2px solid $backgrouncolor;
    @include tablet() {
      height: 44px;
      width: 542px;
    }
  }
}

.divbtns {
  display: flex;
  padding: 10px 0;
  justify-content: center;

  &__search {
    width: 66px;
    height: 37px;
    border-radius: 10%;
    margin: 10px;
    border: 2px solid #bbcfda;
    background-color: $backgrouncolor2;
    &:hover {
      background-color: #5ca4bd;
      color: $backgrouncolor2;
    }
    @include tablet() {
      width: 100px;
      height: 51px;
    }
  }
  &__reset {
    width: 66px;
    height: 37px;
    border-radius: 10%;
    margin: 10px;
    border: 2px solid #bbcfda;
    background-color: $backgrouncolor2;
    &:hover {
      background-color: #5ca4bd;
      color: $backgrouncolor2;
    }
    @include tablet() {
      width: 100px;
      height: 51px;
    }
  }
}

.favoritecoctails {
  padding: 10px 0;
  border: 2px solid $backgrouncolor;
  width: 11rem;
  height: 22rem;
  display: flex;
  justify-content: center;
  overflow-y: scroll;

  &__btn {
    width: 85px;
    height: 45px;
    border-radius: 10%;
    margin: 10px;
    border: 2px solid #bbcfda;
    background-color: $backgrouncolor2;

    &:hover {
      background-color: #5ca4bd;
      color: $backgrouncolor2;
    }
    @include tablet() {
      width: 100px;
      height: 51px;
    }
  }
  &__list {
    list-style: none;
  }
  @include tablet() {
    width: 23rem;
    height: 26rem;
  }
  @include desktop() {
    width: 37rem;
    height: 21rem;
  }
}

.generalcoctails__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px 0;
  &--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 15px 0;
  }
  &--title {
    font-size: 15px;
    display: flex;
    justify-content: center;
    width: 190px;
    text-align: center;
    padding: 5px 0;
    @include tablet() {
      font-size: 20px;
    }
  }
  &--img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    border: 6px solid $backgrouncolor;
    @include tablet() {
      width: 220px;
    }
  }
}

// -------------------------------clases para js

.list_title,
.fav_title {
  text-align: center;
  padding-bottom: 10px;
  font-size: 15px;
}
.list-coctail-favorite {
  color: ligthcolor;
  background-color: #e7c7c8;
  border: 2px solid $backgrouncolor;
}
